version: '3.2'
services:
  php:
    build: ./php
    ports:
     - "80:80"
    volumes:
      - ../:/var/www/html:cached
      - ./php/vhost.conf:/etc/apache2/sites-available/000-default.conf
    links:
      - mysql
      - session_cache
      - page_cache
  session_cache:
    image: redis:alpine
    restart: on-failure:10
  page_cache:
    image: redis:alpine
    restart: on-failure:10
  mysql:
    image: mysql:5.6
    restart: on-failure:10
    environment:
     - MYSQL_ROOT_PASSWORD=magento
     - MYSQL_DATABASE=magento
     - MYSQL_USER=magento
     - MYSQL_PASSWORD=magento
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - dbdata:/var/lib/mysql
volumes:
  dbdata: